.main-header {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto-Light", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  color: #1b1a17;
  overflow: hidden;
  background-image: url("../img/main-header-ellipse.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
